I declare this is my own work in accordance with Seneca Collegeâ€™s Academic Policies. No part has
been copied manually or electronically from any other source (including web sites) or distributed
to other students.
Name: (PRINCE DOBARIYA) Student Number: (127067205).

In [484]:
import pandas as pd 
import numpy as np
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error, accuracy_score

**PROBLEM STATEMENT**

TO PREDICT THE VEHICLE MILEAGE(MPG) USING GIVEN 4 FEATURES

In [120]:
colnames = ['horsepower', 'weight', 'cylinders', 'displacement', 'mpg'] # Specifying the columns as data is unlabled

In [121]:
data = pd.read_csv('auto_fuel.csv', names=colnames, header=None) # reading the csv file with given column name with pandas library

**TAKING QUICK LOOK AT THE DATA SET**

In [122]:
data.info() # The given  dataset have 5 columns with each one as FLOAT DATATYPE and have 392 entries

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392 entries, 0 to 391
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   horsepower    390 non-null    float64
 1   weight        388 non-null    float64
 2   cylinders     389 non-null    float64
 3   displacement  390 non-null    float64
 4   mpg           392 non-null    float64
dtypes: float64(5)
memory usage: 15.4 KB

In [123]:
data.describe()

       horsepower       weight   cylinders  displacement         mpg
count  390.000000   388.000000  389.000000    390.000000  392.000000
mean   104.382051  2976.608247    5.462725    194.783333   23.445918
std     38.495687   850.250373    1.701053    104.775497    7.805007
min     46.000000  1613.000000    3.000000     68.000000    9.000000
25%     75.000000  2222.250000    4.000000    105.000000   17.000000
50%     93.500000  2803.500000    4.000000    151.000000   22.750000
75%    125.000000  3614.750000    8.000000    293.250000   29.000000
max    230.000000  5140.000000    8.000000    455.000000   46.600000

In [124]:
# checking for any duplicated rows
data.duplicated().sum()

3

In [125]:
data.isna().sum() # The given data has the many missing values in each column

horsepower      2
weight          4
cylinders       3
displacement    2
mpg             0
dtype: int64

**DATA CLEANING**

In [126]:
# Remvoving the Duplicate the rows from the Dataset
data.drop_duplicates(inplace = True)

In [127]:
# Replacing numeric missing values with the average of the respective columns 
data['horsepower'] = data['horsepower'].fillna(data['horsepower'].mean())
data['weight'] = data['weight'].fillna(data['weight'].mean())
data['displacement'] = data['displacement'].fillna(data['displacement'].mean())

In [128]:
# Changing Cylinder column to Category 
data['cylinders'] = data['cylinders'].astype('category') 
data['cylinders'].value_counts() # more 50% of the cars are with 4 cylinders

4.0    195
8.0    101
6.0     83
3.0      4
5.0      3
Name: cylinders, dtype: int64

In [129]:
# Filling the missing values in cylinder column with most Frequent value 
data['cylinders'] = data['cylinders'].fillna(data['cylinders'].mode()[0])

**SPLITTING INTO TRAINING AND TESTING DATA**

In [457]:
X = data[['horsepower', 'weight', 'cylinders','displacement']].values
Y = data[['mpg']].values
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2) # Splitting into 80/20 ratio in train/test set

**MODEL-1 (POLYNOMIAL REGRESSION with degree 3)**

In [458]:
poly = PolynomialFeatures(degree=3) # Creating instance of PolynomialFeatures degree 3

In [459]:
X_train_trans = poly.fit_transform(X_train) # fitting and Transforming X_train, X_test features  
X_test_trans = poly.fit_transform(X_test)

In [460]:
lm = LinearRegression() # Creating linear regression object 
lm.fit(X_train_trans, Y_train)

LinearRegression()

In [461]:
Yhat = lm.predict(X_train_trans) # Predicting with training test

In [462]:
# Evaluating the model using regression metrics 
print("Mean Absolute Error: %.3f" % mean_absolute_error(Y_train, Yhat))
print("Root Mean Squared Error: %.3f" % np.sqrt(mean_squared_error(Y_train, Yhat)))
print("R2 Score: %.3f" % np.sqrt(r2_score(Y_train, Yhat))) # % of y data is explained by x

Mean Absolute Error: 2.608
Root Mean Squared Error: 3.577
R2 Score: 0.891

**MODEL-2 (POLYNOMIAL REGRESSION with degree 5)**

In [463]:
poly = PolynomialFeatures(degree=5)
X_train_trans = poly.fit_transform(X_train)
X_test_trans = poly.fit_transform(X_test)

In [464]:
lm = LinearRegression()
lm.fit(X_train_trans, Y_train)

LinearRegression()

In [465]:
Yhat = lm.predict(X_train_trans)

In [466]:
print("Mean Absolute Error: %.3f" % mean_absolute_error(Y_train, Yhat))
print("Root Mean Squared Error: %.3f" % np.sqrt(mean_squared_error(Y_train, Yhat)))
print("R2 Score: %.3f" % np.sqrt(r2_score(Y_train, Yhat)))

Mean Absolute Error: 4.884
Root Mean Squared Error: 6.771
R2 Score: 0.514

**MODEL-3 (POLYNOMIAL REGRESSION with degree 15)**

In [467]:
poly = PolynomialFeatures(degree=7)
X_train_trans = poly.fit_transform(X_train)
X_test_trans = poly.fit_transform(X_test)

In [468]:
lm = LinearRegression()
lm.fit(X_train_trans, Y_train)

LinearRegression()

In [469]:
Yhat = lm.predict(X_train_trans)

In [470]:
print("Mean Absolute Error: %.3f" % mean_absolute_error(Y_train, Yhat))
print("Root Mean Squared Error: %.3f" % np.sqrt(mean_squared_error(Y_train, Yhat)))
print("R2 Score: %.3f" % np.sqrt(r2_score(Y_train, Yhat)))

Mean Absolute Error: 2.210
Root Mean Squared Error: 3.134
R2 Score: 0.918

**After performing evaluation we found out that DEGREE 15 model gives the best accuracy.<br>
SO FINALLY PREDICTING TEST SET ON POLYNOMIAL REGRESSION with degree 15**

In [480]:
poly = PolynomialFeatures(degree=15)
X_train_trans = poly.fit_transform(X_train)
X_test_trans = poly.fit_transform(X_test)

In [481]:
lm = LinearRegression()
lm.fit(X_train_trans, Y_train)
Yhat = lm.predict(X_test_trans)

In [482]:
print("Mean Absolute Error: %.3f" % mean_absolute_error(Y_test, Yhat))
print("Root Mean Squared Error: %.3f" % np.sqrt(mean_squared_error(Y_test, Yhat)))
print("R2 Score: %.3f" % (r2_score(Y_test, Yhat)))

Mean Absolute Error: 46.683
Root Mean Squared Error: 217.742
R2 Score: -858.621

In [489]:
# Priting out First Six Values 
print("predicted :",Yhat[:6])   
print("actual :",Y_test[:6])

predicted : [[31.58759554]
 [32.29064337]
 [32.26118751]
 [20.39366245]
 [17.98446119]
 [31.52595814]]
actual : [[28. ]
 [26. ]
 [31.5]
 [18. ]
 [15.5]
 [36. ]]